<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
  <div class="col-md-12">
    <button onclick="toCreate()">Create a Memo</button>
  </div>
  <script>
    function toCreate() {
      window.location.assign("/create");
    }
  </script>


<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>

{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-12">
  <p>|----------------------------------------------------|</p>
  </div>
  <div class="col-md-2">
    <p style="color:red">When:</p>

    {{ memo.date | humanize }}
  </div>
  <br>
  <div class="col-md-10">
    <p style="color:red">Memo:</p>
    {{ memo.text }}
  </div>
  <br>
  <div class="col-md-12">
    <form action="/delete" method="post">
      <button name="id" type="submit" value="{{ memo.unique_id }}">Delete</button>
    </form>
  </div>
  <div class="col-md-12">
  ----------------------------------------------------
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  <br>
  {% endfor %}
{% else %}
  <p>No memos for you. </p>
{% endif %}



</div> <!-- container -->
</body>
</html>
